* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#overlay {
  background-color: #000000b5;
  padding-top: 3em;
  padding-bottom: 3em;
}

body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  line-height: 1.5rem;
  font-style: normal;
  background-image: url("../assets/pexels-olia-danilevich-4974922.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 75%;
  padding: 2.5rem;
  margin: auto;
  background-color: #190234;
  color: #fff;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 1em;
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

textarea {
  height: 25vh;
  margin-top: 1rem;
  padding: 1em;
  font-size: 1rem;
  width: 100%;
}

.submit {
  padding: 1em;
  margin-bottom: 1.3rem;
  background-color: green;
  border: none;
  color: white;
  line-height: 1.5rem;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.option8,
.option9,
.option10,
.check,
.check1,
.check2,
.check3,
.check4,
.check5,
.check6,
.check7,
.check8,
.check9,
.check10 {
  width: 2rem;
  padding-left: 1em;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #4f945b;
  --sb-size: 20px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
